<section class="section about-section" id="about-us">
  <div class="container about-container">
    <h2 class="about-section-title">About Us</h2>
    <ul class="about-text-list">
      <li class="about-text-list-item">
        <p class="about-section-text">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
      </li>
      <li class="about-text-list-item">
        <p class="about-section-text">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
      </li>
    </ul>
    <div class="about-section-link-container">
      <a class="about-section-link" href="#catalog">View catalog</a>
    </div>
  </div>
  <div class="container about-image-container">
    <picture class="about-picture-list">
      <source
        media="(min-width: 1280px)"
        srcset="
          /img/desktop/about-watch-min.jpg    1x,
          /img/desktop/about-watch@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/tablet/about-watch-min.jpg    1x,
          /img/tablet/about-watch@2x-min.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/mobile/about-watch-min.jpg    1x,
          /img/mobile/about-watch@2x-min.jpg 2x
        "
      />

      <img
        class="about-image"
        src="/img/desktop/about-watch-min.jpg"
        alt="A watch"
        width="530"
        height="532"
      />
    </picture>
  </div>
</section>
