<section class="advertisement section">
  <h2 class="visually-hidden">Advertisement</h2>
  <div class="container">
    <div class="advertisement-wrap">
      <div class="advertisement-title-wrap">
        <h2 class="advertisement-title">
          Choose <span class="advertisement-castom-text">your story</span>,
          making every moment unique. Time is your style, and we reveal it.
        </h2>
      </div>
      <div class="advertisement-link-wrap">
        <a class="advertisement-link" href="#contact-us-nojokes">Contact Us</a>
      </div>
    </div>
  </div>
</section>
