<section class="contact-us section" id="contact-us-nojokes">
  <div class="contact-us-container container">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="contact-us-block">
      <div class="contact-us-item">
        <p class="contact-us-text">Please use the form below to contact us. Enter your name, email, phone,
          and message and we'll get
          back to you shortly.</p>
        <form class="contact-us-form">
          <div class="contact-us-wrap">
            <label class="contact-us-label" for="user-name">
              <input class="contact-us-input" name="user-name" id="user-name" type="text" placeholder="Name" required>
            </label>
          </div>
          <div class="contact-us-wrap">
            <label class="contact-us-label" for="input-email">
              <input class="contact-us-input" name="input-email" id="input-email" type="email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required>
            </label>
          </div>
          <div class="contact-us-wrap">
            <label class="contact-us-label" for="input-phone">
              <input class="contact-us-input" name="input-phone" id="input-phone" type="tel"
                pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$" placeholder="+380-XX-XXX-XX-XX" required>
            </label>
          </div>
          <div class="contact-us-wrap textarea">
            <label class="contact-us-label" for="user-comment">
              <textarea class="textarea-comment" name="user-comment" id="user-comment" placeholder="Comment"
                required></textarea>
            </label>
          </div>
          <button class="contact-us-btn" type="submit">Send</button>
        </form>
      </div>
      <div class="contact-us-img-wrap">
        <picture>
          <source srcset="/img/desktop/contact-watch-min.jpg 1x, /img/desktop/contact-watch@2x-min.jpg 2x"
            media="screen and (min-width:1280px)">
          <source srcset="/img/tablet/contact-watch-min.jpg 1x, /img/tablet/contact-watch@2x-min.jpg 2x"
            media="screen and (min-width:768px)">
          <source srcset="/img/mobile/contact-watch-min.jpg 1x, /img/mobile/contact-watch@2x-min.jpg 2x"
            media="screen and (min-width:320px)">
          <img class="contact-us-image" src="/img/mobile/contact-watch-min.jpg" alt="clock">
        </picture>
      </div>
    </div>
  </div>
</section>