<section class="footer-wrap-section section">
    <div class="footer-wrap-container container">
        <div>
            <div>
                <a class="footer-logo" href="./"></a>
                <div class="footer-social-link">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
            <div class="title-wrap">
                <h4 class="footer-title">Have the time of your life with our watches: where high-class craftsmanship
                    meets impeccable design
                </h4>
            </div>
            <address class="footer-address">
                <a class="footer-link-tel" href="tel:+3806804439426">+380 (68) 443-94-26</a>
            </address>
        </div>






    </div>
</section>