<section class="section section hero">
  <div class="container hero-container">
    <div class="hero-text-and-avatar">
      <div class="hero-content">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-part">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-content-extra">
        <ul class="hero-img-list">
          <li class="hero-img-list-item">
            <picture>
              <source
                srcset="
                  /img/desktop/people-1x60-min.png    1x,
                  /img/desktop/people-1x60@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/desktop/people-1x56-min.png    1x,
                  /img/desktop/people-1x56@2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/desktop/people-1x44-min.png    1x,
                  /img/desktop/people-1x44@2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-avatars"
                src="/img/desktop/people-1x56-min.png"
                alt="Victoria Romashenko"
              />
            </picture>
          </li>
          <li class="hero-img-list-item">
            <picture>
              <source
                srcset="
                  /img/desktop/people-2x60-min.png    1x,
                  /img/desktop/people-2x60@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/desktop/people-1x56-1-min.png    1x,
                  /img/desktop/people-1x56@2x-1-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/desktop/people-2x44-min.png    1x,
                  /img/desktop/people-2x44@2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-avatars"
                src="/img/desktop/people-1x56-1-min.png"
                alt="John Wax"
              />
            </picture>
          </li>
          <li class="hero-img-list-item">
            <picture>
              <source
                srcset="
                  /img/desktop/people-3x60-min.png    1x,
                  /img/desktop/people-3x60@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/desktop/people-1x56-2-min.png    1x,
                  /img/desktop/people-1x56@2x-2-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/desktop/people-3x44-min.png    1x,
                  /img/desktop/people-3x44@2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-avatars"
                src="/img/desktop/people-1x56-2-min.png"
                alt="Anastasia Trachuk"
              />
            </picture>
          </li>
        </ul>
        <a class="hero-scroll-down" href="#footer">Scroll down</a>
      </div>

      <!-- добавить якорь на футер -->
    </div>
    <div class="hero-image-wrapper">
      <picture>
        <source
          srcset="/img/desktop/hero@2x-min.jpg 2x, /img/desktop/hero-min.jpg 1x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="/img/tablet/hero@2x-min.jpg 2x, /img/tablet/hero-min.jpg 1x"
          media="(min-width: 768px)"
        />
        <source
          srcset="/img/mobile/hero@2x-min.jpg 2x, /img/mobile/hero-min.jpg 1x"
          media="(max-width: 767px)"
        />
        <img
          class="hero-big-img"
          src="/img/desktop/hero-min.jpg"
          alt="watch charm"
        />
      </picture>
    </div>
  </div>
</section>
