<section class="section hero">
  <div class="hero-container"></div>
  <div class="hero-content">
    <h1 class="hero-title">
      Welcome to our <span class="hero-title-part">collection</span> of premium
      watches
    </h1>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
  </div>
  <div class="hero-content-extra">
    <ul class="hero-img-list">
      <li class="hero-img-list-item">
        <picture>
          <source
            srcset="
              /img/desktop/people-1x60@2x-min.png,
              /img/desktop/people-1x60@2x-min.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/desktop/people-1x56@2x-min.png,
              /img/desktop/people-1x56-min.png
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/desktop/people-1x44@2x-min.png,
              /img/desktop/people-1x44-min.png
            "
            media="(max-width: 767px)"
          />
          <img
            class="hero-avatars"
            src="../img/desktop/people-1x44-min.png"
            alt="Victoria Romashenko"
          />
        </picture>
      </li>
      <li class="hero-img-list-item">
        <picture>
          <source
            srcset="
              /img/desktop/people-2x60@2x-min.png,
              /img/desktop/people-2x60-min.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/desktop/people-1x56@2x-1-min.png,
              /img/desktop/people-1x56-1-min.png
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/desktop/people-2x44@2x-min.png,
              /img/desktop/people-2x44@2x-min.png
            "
            media="(max-width: 767px)"
          />
          <img
            class="hero-avatars"
            src="/img/desktop/people-2x44-min.png"
            alt="John Wax"
          />
        </picture>
      </li>
      <li class="hero-img-list-item">
        <picture>
          <source
            srcset="
              /img/desktop/people-3x60@2x-min.png,
              /img/desktop/people-3x60-min.png
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/desktop/people-1x56@2x-2-min.png,
              /img/desktop/people-1x56-2-min.png
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/desktop/people-3x44@2x-min.png,
              /img/desktop/people-3x44-min.png
            "
            media="(max-width: 767px)"
          />
          <img
            class="hero-avatars"
            src="../img/desktop/people-3x44-min.png"
            alt="Anastasia Trachuk"
          />
        </picture>
      </li>
    </ul>
    <a class="hero-scroll-down" href="#footer">Scroll down</a>
    <!-- добавить якорь на футер -->
  </div>
  <picture>
    <source
      srcset="/img/desktop/hero@2x-min.jpg, /img/desktop/hero-min.jpg"
      media="(min-width: 1280px)"
    />
    <source
      srcset="/img/tablet/hero@2x-min.jpg, /img/tablet/hero-min.jpg"
      media="(min-width: 768px)"
    />
    <source
      srcset="/img/mobile/hero@2x-min.jpg, /img/mobile/hero-min.jpg"
      media="(max-width: 767px)"
    />
    <img
      class="hero-big-img"
      src="/img/desktop/hero-min.jpg"
      alt="watch charm"
    />
  </picture>
</section>
