<section class="section">
    <div class="container">
        <h2 class="review-title">Reviews</h2>
        <ul class="review-list">
            <li class="review-item">
                <article class="review-card">
                    <img class="review-image"
                        srcset="./img/desktop/people-1x56-1-min.png 1x, ./img/desktop/people-1x56@2x-1-min.png 2x"
                        src="./img/desktop/people-1x56-1-min.png" alt="John Wax">
                    <div class="review-text-container">
                        <h3 class="review-list-title">John Wax</h3>
                        <p class="review-list-text">Buying a watch from was the best choice for me. The design
                            is
                            perfectly
                            combined
                            with high
                            quality materials. The strap
                            fits nicely on the hand, and the mechanism works flawlessly.</p>
                    </div>
                </article>
            </li>
            <li class="review-item">
                <article class="review-card">
                    <img class="review-image"
                        srcset="./img/desktop/people-1x56-min.png 1x, ./img/desktop/people-1x56@2x-min.png 2x"
                        src="./img/desktop/people-1x56-min.png" alt="Victoria Romashenko">
                    <div class="review-text-container">
                        <h3 class="review-list-title">Victoria Romashenko</h3>
                        <p class="review-list-text">Can't take my eyes off my watch from. Every time I put it on, it
                            is admired by those around me. The build quality and
                            attention to detail make it a real gem among my accessories.</p>
                    </div>
                </article>
            </li>
            <li class="review-item">
                <article class="review-card">
                    <img class="review-image"
                        srcset="./img/desktop/people-1x56-2-min.png 1x, ./img/desktop/people-1x56@2x-2-min.png 2x"
                        src="./img/desktop/people-1x56-2-min.png" alt="Anastasia Trachuk">
                    <div class="review-text-container">
                        <h3 class="review-list-title">Anastasia Trachuk</h3>
                        <p class="review-list-text">My watch from is a real masterpiece. Every detail impresses with
                            the high quality of execution. Special features like
                            [specify features] make it an indispensable companion in my daily life.</p>
                    </div>
                </article>
            </li>
    </div>
</section>