<section class="reviews section">
  <!-- 
    Никита, привет! ✌️
    Тут каждый отзыв — это отдельный смысловой блок как и у Дани в секции каталог
    Поэтому мы используем <article>, чтобы показать, 
    что каждый отзыв — самостоятельный и может использоваться в других местах.
    Это полезно и для SEO, и для правильной структуры страницы.
  -->
  <ul class="reviews-list">
    <li class="reviews-list-item">
      <article class="review-card">
        <!-- Тут размести:
          ...
        -->
      </article>
    </li>
    <li>
      <article class="review-card">
        <!-- Следующий отзыв -->
      </article>
    </li>
  </ul>
</section>
