<section class="section sale-section" id="sale">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-products-wrapper">
      <ul class="sale-products-list">
        <li class="sale-products-list-item">
          <picture>
            <source
              srcset="
                /img/desktop/sale-watch-mini-1-min.png    1x,
                /img/desktop/sale-watch-mini-1@2x-min.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/tablet/sale-watch-mini-1.png    1x,
                /img/tablet/sale-watch-mini-1@2x.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                /img/mobile/sale-watch-mini-1.png    1x,
                /img/mobile/sale-watch-mini-1@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-products-list-img"
              src="/img/mobile/sale-watch-mini-1.png"
              alt="MARQ Commander"
            />
          </picture>
        </li>
        <li class="sale-products-list-item">
          <picture>
            <source
              srcset="
                /img/desktop/sale-watch-mini-2-min.png    1x,
                /img/desktop/sale-watch-mini-2@2x-min.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/tablet/sale-watch-mini-2.png    1x,
                /img/tablet/sale-watch-mini-2@2x.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                /img/mobile/sale-watch-mini-2.png    1x,
                /img/mobile/sale-watch-mini-2@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-products-list-img"
              src="/img/mobile/sale-watch-mini-2.png"
              alt="MARQ Commander"
            />
          </picture>
        </li>
        <li class="sale-products-list-item">
          <picture>
            <source
              srcset="
                /img/desktop/sale-watch-mini-3-min.png    1x,
                /img/desktop/sale-watch-mini-3@2x-min.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/tablet/sale-watch-mini-3.png    1x,
                /img/tablet/sale-watch-mini-3@2x.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                /img/mobile/sale-watch-mini-3.png    1x,
                /img/mobile/sale-watch-mini-3@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-products-list-img"
              src="/img/mobile/sale-watch-mini-3.png "
              alt="MARQ Commander"
            />
          </picture>
        </li>
        <li class="sale-products-list-item">
          <picture>
            <source
              srcset="
                /img/desktop/sale-watch-mini-4-min.png    1x,
                /img/desktop/sale-watch-mini-4@2x-min.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/tablet/sale-watch-mini-4.png    1x,
                /img/tablet/sale-watch-mini-4@2x.png 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                /img/mobile/sale-watch-mini-4.png    1x,
                /img/mobile/sale-watch-mini-4@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-products-list-img"
              src="/img/mobile/sale-watch-mini-4.png "
              alt="MARQ Commander"
            />
          </picture>
        </li>
      </ul>
      <div class="sale-product-rotate-wrapper">
        <picture>
          <source
            srcset="
              /img/desktop/sale-watch-big-min.png    1x,
              /img/desktop/sale-watch-big@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/tablet/sale-watch-big.png    1x,
              /img/tablet/sale-watch-big@2x.png 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              /img/mobile/sale-watch-big.png    1x,
              /img/mobile/sale-watch-big@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sale-product-rotate-img"
            src="/img/mobile/sale-watch-big.png"
            alt="MARQ Commander Gen 2 Carbon Edition"
          />
        </picture>
      </div>
      <div class="sale-promotion-card-wrapper">
        <h2 class="sale-promotion-card-title">
          MARQ&#xae; Commander (Gen 2) - Carbon Edition
        </h2>
        <p class="sale-promotion-card-nr">Product tag: 706587</p>
        <ul class="sale-promotion-card-price-list">
          <li class="sale-promotion-card-actual-price">&#x20AC;1500</li>
          <li class="sale-promotion-card-previous-price">&#x20AC;3000</li>
        </ul>
        <p class="sale-promotion-description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-promotion-card-tags-list">
          <li class="sale-promotion-card-tags-list-item">Fused carbon fiber</li>
          <li class="sale-promotion-card-tags-list-item">Grade-5 Titanuim</li>
          <li class="sale-promotion-card-tags-list-item">Athlete</li>
          <li class="sale-promotion-card-tags-list-item">Golfer</li>
          <li class="sale-promotion-card-tags-list-item">Commander</li>
          <li class="sale-promotion-card-tags-list-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
