@media screen and (min-width: 1280px) {
  .about-section {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.about-container {
  max-width: 335px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about-container {
    width: 704px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .about-container {
    width: 580px;
    padding-left: 60px;
    margin-right: 0;
    margin-bottom: 0;
    padding-right: 0px;
    margin-left: 0;
    background-color: #f3f3f3;
  }
}

.about-section-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .about-section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about-section-title {
    padding-top: 0;
  }
}

.about-text-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about-text-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .about-text-list {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
}

.about-section-text {
  max-width: 295px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

@media screen and (min-width: 768px) {
  .about-section-text {
    max-width: 584px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .about-section-text {
    max-width: 460px;
  }
}

.about-section-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  max-width: 160px;

  border-radius: 16px;
  min-width: 160px;
  height: 48px;
  background: #3350e9;
  padding: 15px 37px 15px 38px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.2s ease-in-out;
  scroll-behavior: smooth;
}

.about-section-link:hover,
.about-section-link:focus {
  background: #1f3cd4;
}

.about-section-link:active {
  transform: scale(0.95);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

.about-image-container {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .about-image-container {
    width: 704px;
    padding-right: 0;
  }

  .about-image {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .about-image-container {
    width: 530px;
    margin-left: 0;
    margin-right: 0;
  }
}
