.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-list-wrapper {
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .catalog-list-wrapper {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-list-wrapper {
    max-width: 1280px;
    padding-right: 65px;
    padding-left: 65px;
  }
}

.catalog-main-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .catalog-main-title {
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
  }
}
.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  max-width: 335px;
}
@media screen and (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-direction: row;

    max-width: 100%;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-list {
    column-gap: 23px;
  }
}
.catalog-list-item {
  max-width: 335px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 24px 28px;
}
.catalog-list-item img {
  transition: transform 300ms ease;
}

.catalog-list-item:hover img {
  transform: scale(1.15);
}

@media screen and (min-width: 768px) {
  .catalog-list-item {
    max-width: 344px;
    max-height: 414px;
    padding: 24px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-list-item {
    max-width: 368px;
  }
}

.catalog-hide-item {
  display: none;
}
@media screen and (min-width: 768px) {
  .catalog-hide-item {
    display: inline-block;
  }
}

.catalog-wrapper-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.catalog-list-about-item {
  max-width: 279px;
}

.catalog-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .catalog-title {
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-text {
    max-width: 304px;
  }
}

.catalog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.show-more-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .show-more-btn {
    display: none;
  }
}
.show-more-btnhover,
.show-more-btnfocus {
  background-color: #1f3cd4;
}
.show-more-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
