:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}
:root {
  --font-family: 'Gilroy', sans-serif;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* #region Footer */
.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 28px 28px 28px;
  border-radius: 30px;
  height: 581px;
  background: var(--main);
}
.footer-b3-wrapper {
  margin-bottom: 92px;
}

.footer-logo-icon-wrapper {
  width: 122px;
  margin-bottom: 20px;
}
.footer-logo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--background);
  margin-bottom: 20px;
  height: fit-content;
}

.footer-icon-list {
  display: flex;
  justify-content: space-between;
}
.footer-icon {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  fill: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icon:hover,
.footer-icon:focus {
  fill: #fbfbfb;
}

.footer-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: var(--background);

  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  height: 44px;
  margin-bottom: 40px;
}
.footer-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--background);
  width: 279px;
}
.footer-nav-address-wrapper {
  display: flex;
  justify-content: space-between;
  width: 279px;
}
.footer-nav {
  display: flex;
  column-gap: 16px;
  row-gap: 8px;
  flex-wrap: wrap;
  width: 147px;
}

.footer-nav-li {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: var(--background);
}
.footer-address {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--background);
  width: 83px;
}

.footer-line {
  stroke-width: 1px;
  stroke: rgba(251, 251, 251, 0.1);
  margin: 24px 0;
}
.footer-line.tab,
.footer-line.pc {
  display: none;
}

.footer-copy-links-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer-copy {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}
.footer-links-wrapper {
  display: flex;
  justify-content: space-between;
  width: 152px;
}

.footer-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}

.footer-link:hover,
.footer-link:focus {
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 704px;
    width: 100%;
    height: 540px;
    padding: 40px 40px 28px 40px;
  }
  .footer-b3-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 86px;
    margin-bottom: 100px;
  }
  .footer-logo-icon-wrapper {
    margin-bottom: 0;
  }
  .footer-logo {
    font-size: 20px;
  }
  .footer-text {
    width: 524px;
    font-size: 28px;
    line-height: 1.14;
    margin: auto;
  }
  .footer-tel {
    font-size: 14px;
  }
  .footer-logo-icon-wrapper {
    margin-right: 336px;
    width: 128px;
  }
  .footer-svg-icon {
    width: 20px;
    height: 20px;
  }
  .footer-icon {
    width: 36px;
    height: 36px;
  }
  .footer-nav-address-wrapper {
    width: 624px;
  }
  .footer-nav {
    column-gap: 19px;
    flex-wrap: wrap;
    width: 400px;
  }
  .footer-nav-li {
    font-size: 14px;
    line-height: 1.28;
  }
  .footer-address {
    width: 162px;
    font-size: 14px;
  }
  .footer-copy-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-links-wrapper {
    width: 204px;
  }
  .footer-copy,
  .footer-link {
    font-size: 14px;
    line-height: 1.3;
  }

  .footer-line,
  .footer-line.pc {
    display: none;
  }
  .footer-line.tab {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1216px;
    height: 400px;
    width: 100%;
  }
  .footer-b3-wrapper {
    margin-bottom: 126px;
  }
  .footer-logo-icon-wrapper {
    margin-right: 147px;
  }
  .footer-copy-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav-address-wrapper {
    width: 1136px;
    height: 36px;
  }
  .footer-line,
  .footer-line.tab {
    display: none;
  }
  .footer-line.pc {
    display: block;
  }
  .footer-text {
    order: 2;
  }
  .footer-tel {
    order: 3;
  }
}
/* #endregion Footer */
