/* #region header */
.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  width: 100%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .header-nav {
    padding: 28.5px 0;
  }
}
@media screen and (min-width: 1280px) {
  .header-nav {
    padding: 25.5px 0;
  }
}
.header-logo {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  width: 90px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
@media screen and (min-width: 768px) {
  .header-logo {
    font-size: 20px;
  }
}
.header-nav-list {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}
.header-nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
}
.header-nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #3350e9;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link.current::after {
  opacity: 1;
}
.header-social-list {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header-social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
.header-social-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-social-icon {
  fill: #0c0c0c;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-link:hover .header-social-icon,
.header-social-link:focus .header-social-icon {
  fill: #3350e9;
}
.header-burger-btn {
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1280px) {
  .header-burger-btn {
    display: none;
  }
}
.header-burger-icon {
  stroke-width: 2.5px;
  stroke: #0c0c0c;
  display: block;
}
/* #endregion header */
/* #region header-mobile-menu */
.header-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tumb {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--grey);
  background-image: linear-gradient(
      to bottom,
      rgba(12, 12, 12, 0.1),
      rgba(12, 12, 12, 0.1)
    ),
    url('../img/mobile/mobile-menu-bg-min.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .header-mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (min-width: 768px) {
  header .header-tumb {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.1),
        rgba(12, 12, 12, 0.1)
      ),
      url('../img/tablet/tablet-menu-bg-min.jpg');
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  header .header-mobile-menu {
    display: none;
  }
}
@media (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2),
  (max-width: 375px) {
  header .header-tumb {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.1),
        rgba(12, 12, 12, 0.1)
      ),
      url('../img/mobile/mobile-menu-bg@2x-min.jpg');
  }
}
@media (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2),
  (max-width: 768px) {
  header .header-tumb {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.1),
        rgba(12, 12, 12, 0.1)
      ),
      url('../img/tablet/tablet-menu-bg@2x-min.jpg');
  }
}
.header-modile-menu-close {
  position: absolute;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background: transparent;
  padding: 0;
  border: none;
}
@media screen and (min-width: 768px) {
  header .header-modile-menu-close {
    width: 40px;
    height: 40px;
    top: 26px;
    right: 32px;
  }
}
.header-modile-menu-close-icon {
  stroke-width: 2.5px;
  stroke: #fbfbfb;
}
@media screen and (min-width: 768px) {
  header .header-modile-menu-close-icon {
    width: 24px;
    height: 24px;
  }
}
.header-mobile-menu-list {
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header-mobile-menu-list {
    gap: 32px;
  }
}
.header-mobile-menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}
.header-mobile-menu-link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #3350e9;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile-menu-link.current::after {
  opacity: 1;
}
.header-mobile-menu-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .header-mobile-menu-social-list {
    margin-bottom: 50px;
  }
}
.header-mobile-menu-social-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mobile-menu-social-icon {
  fill: #fbfbfb;
  opacity: 0.7;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile-menu-social-link:hover .header-mobile-menu-social-icon,
.header-mobile-menu-social-link:focus .header-mobile-menu-social-icon {
  opacity: 1;
}
/* #endregion header-mobile-menu */
