.section {
  /* margin-bottom: 60px; */
}

@media screen and (min-width: 768px) {
  .section {
    /* margin-bottom: 80px; */
  }
}

@media screen and (min-width: 1280px) {
  .section {
    /* margin-bottom: 100px; */
  }
}
