.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Планшет */
@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* Десктоп */
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* Если header и footer используют .section — обнуляем */
header.section {
  padding-top: 0;
  padding-bottom: 0;
}

footer.section {
  padding-bottom: 0;
}
